<div class="categories">

    {{#each categories}}
    <div class="category">
        <div class="name">
            <input type="checkbox">
            <label>{{ name }}</label>
        </div>

        <ul class="product">
        {{#each products}}
            <li class="name">
                <input type="checkbox" id="{{id}}" onclick="availableProductClicked( '{{id}}')">
                <label>{{ name }}</label>
            </li>
        {{/each}}
        </ul>
    </div>
    {{/each}}

</div>